<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{% block title %}{% endblock %} - ^=^</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap3.3.7/css/bootstrap.min.css')}}" rel="stylesheet">
    {% block link %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .avatar{
            display: inline-block;
            overflow: hidden;
            line-height: 1;
            vertical-align: middle;
            border-radius: 3px;
            margin-top: -1px;}
        .post_time{
            font-size: 13px;
            line-height: 20px;
            color: #586069;
        }
        .postfoot_acitons{
            list-style: none;
            display: inline-block;
        }
        .panel{
            border-radius: 0;
        }
    </style>
    <style>
        #pic_list{padding-top: 10px;}
    </style>
{% block head %}
{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li {% if nav == "home" %}class="active" {% endif %}>
                        <a href="#">首页</a>
                    </li>
                    <li class="dropdown pull-right">
                         <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#registerModal">注册</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}


    <!-- registerModal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
    {#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>#}
    {#                </button>#}
                    <h4 class="modal-title" id="registerModalTitle"><label id="registerModalLabel">登录</label>
                        <a class="btn btn-default popover-test pull-right" id="registerModalButton"
                           role="button" onclick="RegisterModalToggle()" >没有账号？点击注册</a></h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="authName" class="form-label">邮箱</label>
                            <input type="text" class="form-control" id="authName">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% block modal %}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- [if published]>
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <![endif]-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap3.3.7/js/bootstrap.js') }}"></script>
    <script>
        function RegisterModalToggle()
        {
            var label = $("#registerModalLabel");
            var button = $("#registerModalButton");
            if (label.text() === '登录'){
                label.html('注册');
                button.text('已有账号？点击登录');
            }else{
                label.html('登录');
                button.text('没有账号？点击注册');
            }

        }
    </script>
    {% block script %}{% endblock %}
</body>
</html>


